.navLink {
  position: relative;
  color: black;
  transition: color 0.2s ease-in-out;
}
.activeNavLink {
  font-weight: bold; /* Example: Make the active link bold */
  color: #ca1515; /* Example: Change color of active link */
  /* Add other active styles as needed */
}
.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 00;
  width: 100%;
  height: 2px;
  background-color: #ca1515;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

.navLink:hover {
  color: gray;
}

.navLink:hover::after {
  transform: scaleX(0.75);
}
